.header-menu {
    width: 28rem;
    background-color: #005986;
    display: flex;
    padding-left: 12px;
    padding-top: 5px;
}

.menu-channel {
    width: 3rem;
}

.menu-headerImage {
    width: 100px;
    padding-top: 1rem;
    padding-left: 9px;
}

.menu-section {
    display: flex;
}

.svg-img {
    padding-left: 192px;
}

.menu-icon {
    display: flex;
    font-size: 12px;
    padding-left: 21px;
}

.home {


    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}

.arrowdown {
    height: 3rem;
    display: flex;



}

.hometext {
    color: #2b2b2b;
    font-size: 16px;
}

.weather-image {
    width: 5rem;
}

.footer-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 1rem;
    padding-top: 5rem;
    justify-content: space-evenly;
}

.footer-li {
    margin-left: 1rem;
    margin-top: 35px;
    justify-content: start;
    column-count: 2;
    grid-column-gap: 0;
    column-gap: 0;
    list-style: none;
    line-height: 2rem;
    font-size: .875rem;
}

.footer-data {
    margin: 10px 0 10px;
    padding-right: 2px;
    justify-content: start;
    font-weight: 700;
    display: flex;
    flex-flow: row wrap;

}

.footer-data li {
    list-style: none;
    border-right: 1px solid;
    padding: 0 0.5em;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    line-height: 2rem;
    color: #2b2b2b;
}

.hometext {
    padding-left: 2rem;
}

.footer-global {
    padding-left: 6rem;
    margin: 7px 0 0;
}

.footer-paragraph {
    margin: 18px 0 0;
    line-height: 1.4;
    text-align: left;
    padding-left: 3rem;
}

.data {
    padding-left: 3rem;
    font-size: 14px;

}

.copyright {
    font-size: 13px;

    padding-left: 3rem;
    padding-top: 2rem;
}

.clud {
    padding-left: 3rem;
    display: flex;
}

.cloud-image {
    padding-top: 1rem;
    width: 3rem;
}

.ibm-cloud {
    margin-top: 1rem;
    display: flex;
    gap: 5px;
    font-size: 14px;



}

.powered {
    margin-top: 2rem;
}

.cloud-text {
    font-weight: bold;

}

.ibm-text {
    transform-origin: 0px 0px;
    white-space: inherit;
}

.menu-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    


}

.menu-button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}
.home-content{
    background-color: #fff;
}
